@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

aside{
    position:fixed;
	width:65px;
	height:100%;
	background-color:#2f3030;
	overflow:hidden;
	-webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

asideh


