*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.home{
    background-image: url("img/background-inicio.jpg");
    width: 100%;
    height: 100vh; 
    background-size: cover;
    overflow: hidden;
}

/*Box-login*/

.container{
    width: 700px;
    height: 400px;
    padding: 220px 350px;
}

/*Logo*/
.logohome img{
    width: 400px;
    height: 70px;
    margin: 30px 70px;
    float: left;
}

.container .login img{
    width: 100px;
    position: relative;
    top: -60px;
    padding-left: 100px;
    background-position: center;
}

.container .login{
    width: 300px;
    height: 320px;
    float: left;
    background:  rgba(0,0,0, .6);  
    border-radius: 20px 0px 0px 20px;
}

.login .textlogin{
    margin-top: -50px ;
}

.container .login h3{
    color: #ffffff;
    top: 70px;
    text-align: center;
}
.container .login h4{ 
    color: #ffffff;
    margin: 10px 60px;
}

.container .login input{
    width: 170px;
    height: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 5px 60px;
}
.login input[type=text]{
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 17px;
}

.login i{
    margin-left: 60px;
    position: relative;
    top: -25px;
    left: 4px;
}
.login #buttonenter{
    background-color: #FFE521;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 5px 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.container .information{ 
    width: 340px;
    height: 320px;
    float: left; 
    background: rgba(241, 237, 16, 0.733);
    border-radius: 0px 20px 20px 0px;
}

.container .information p{
    line-height: 30px; 
    text-align: justify;
    padding: 50px 30px;
}

/*Data*/

.main{
    background-color: #b8b8b8;
    color: #000000;
    font-weight: bold;
    text-align: center;
    width: 193px;
    height: 612px;
    float: left;
}

.logo{
    background-color: #000000;
    text-align: center;
    width: 193px;
    height: 62px;
}

.logo img{
    width: 160px;
    height: 30px;
    padding-top: 15px;
}

.image{
    width: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

nav{
    margin-top: 20px;
    font-size: 18px;
}

nav a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px;
}

nav .exit{
   margin-top: 150px; 
}

.title{
    width: 100%;
    height: 62px;
    background-color: #FFE521;
}

.title p{
    font-size: 32px;
    font-weight: bolder;
    padding-top: 15px;
    padding-left: 40px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #000000;
    text-align: center;
   
}

.textfooter{
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
}


/*ContainerSedes*/
#containerdata{
    width: 100%;
    height: 612px;
    
}

.containersedes{
    overflow: hidden;
}


#imgmap{
    width: 100%;
    height: 550px;
    float: left;
    background: rgb(241, 241, 241);
}

#imgmap img{
    width: 450px;
    margin-top: 50px;
    margin-left: 100px;
    border: #000000 dashed 1.2px;
}

#btn-sedes{
    width: 30%;
    padding: 40px 120px;
    text-align: center;
    float: right;
    margin-top: -500px;
}

#btn-sedes h2{
    padding-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}

#btn-sedes .buttonLima, .buttonAqp, .buttonSdc, .buttonCdm, .buttonSpl{ 
    width: 150px;
    height: 40px;
    background-color: #FFE521;
    font-size: 15px;
    font-weight: bold;;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#conteinerCohorts{
    width: 100%;
    display: none;
}
#cohortsSelected{
    width: 100%;
    background: #E3E3E1;
    height: 550px;
    overflow-y: scroll;
}
#table{
    width: 100%;
    height: 550px;
    overflow-y: scroll;
}

#cohorts{ 
    background-color: #ffffff;
    width: 85%;
    height: 12%;
    margin: 30px 100px;
    border-radius: 10px;
}

#buttonCohort button{
    width: 100px;
    height: 30px;
    background-color: #FFE521;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
}
#input{
    width: 40%;
    height: 25px;
    margin-left: 50%;
    border-radius: 5px;
    margin-bottom: 15px;
}
#filter{
    width: 70px;
    height: 25px;
    background-color: #FFE521;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    padding: 5px 5px;
}

#textCohort{
    padding: 0px 20px;
    font-size: 20px;
}
/*table css*/

#containerTable{
    display: none;
    height: 612px
}
.tableUserStats{
    padding: 1px;
    width: 100%;
    height: 550px;
    overflow-y: scroll;
}

table {

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

}
 thead{
    width: 100%;   
 }
 tbody{
    width: 100%;  
 }

.columnName{
    width: 30%;  
}
.columnExercises{
    width: 15%;
}
.columnReads{
    width: 15%;
}
.columnQuizzes{
    width: 15%;
}
.columnGeneral{
    width: 15%;
}

th, td {
    text-align: left;
    padding: 8px;

}

th:nth-child(even){
    background-color: #ffff;
}
th button{
    background-color: transparent;
    float: right;
    margin-right: 10px;
    border: transparent;
}
th button::after{
    content: url('https://thumb.ibb.co/jZXaWd/sort_arrows_couple_pointing_up_and_down.png');  
}
.sortAsc{
    display: block;
}
.sortDesc{
    display: none;
}