html {
    font-family: 'Bitter', serif; 
}
.list {
    display: flex;
    justify-content: left;
}

h2 {
    text-align: left;
    
}

img {
    width : 20%;
}
option {
    font-style : italic;
}

#button {
    display: inline-block;

}