*{
    padding: 0px;
    margin: 0px;
}
header {
  
    background-color: #ffe521;
    padding: 10px 10px;
    
    
}
.initial{
    background-color: #E0E0E0;
    margin: 40px auto;
    padding: 40px;
    border-radius: 4px ;
    box-shadow: 0 4px 10px 4px rgb(204, 200, 200);
    max-width: 400px;
}

.contenedorTabs{
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
 
}
.tab{
    display: block;
    text-decoration: none;
    float: left;
    cursor: pointer;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.tab:hover {
    background-color: #777;
}

#sectionInitial{
    
  font-family: Arial;
    
}
img{
    width: 20%;
}

.intro{
    
    
    padding: 20px;
    
}

.selectCo{
    
    text-align: left;
    font-size:18px;
}
.selectCo select{
    text-align: center;
    margin:auto;
    font-size:15px;
}
.list {
    list-style-type: none;
    padding: 0% 20%;
    margin: 0;
}
  
.list li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #e6e34d;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
  
.list li a:hover:not(.header) {
    background-color: #eee;
}
.container {
    position: relative;
    width: 350px;
    float:left;
}
  
.image {
    display: block;
    height: auto;
    width: 40%;
    
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color:  #ffe521;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text-block {
    position: absolute;
    bottom: 25px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.side {
    
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    position: relative;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: rgb(209, 206, 206);
    background-color: #fafafa;
    width: 350px;
    
}