@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.containerLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 420px;
    border-radius: 5px;
    border: 10px solid rgba(255, 255, 255, .2);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}
.imgLab {
    float: left;
    width: 350px;
    height: 420px;
    overflow: hidden;
}
.imgLab img {
    width: 100%;
}
.loginLab {
    float: right;
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    padding: 80px 40px;
    background: rgba(255, 255, 255, .8);
    font-family: 'Open Sans', sans-serif;
}
h3 {
    margin: 0;
    padding: 0 0 20px;
}
.loginLab input {
    width: 100%;
    margin-bottom: 20px;
}
.loginLab input[type="text"], .loginLab input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}
::placeholder {
    color: rgba(0, 0, 0, .5);
}
.inputLab {
    position: relative;
}
.inputLab span {
    position: absolute;
    top: 10px;
    color: #262626;
}
.loginLab input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #ffc107;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.loginLab a {
    color: #262626;
    font-size: 14px;
    text-decoration: none;
}

.side-dashboard {
    background-color: #ffc107;
    width: 20%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
}
.user {
    width: 100%;
    height: 35%;

}
img.side-user {
    display: block;
    margin: auto;
    padding: 25px;


    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
p {
    color:black;
    font-size: 15px;
    font-family: 'Montserrat';
    text-align: center;
    margin: auto;
    padding: auto;
}
ul {
    list-style: none;
}
.nav-item {
    padding: 15px 0 15px 15px;
    height: 25px;
    line-height: 25px;
}
.nav-item img {
    height: 25px;
    width: auto;

    float: left;
    margin-right: 10px;
}
.nav-item:hover {
    background-color: beige;
}
a {
    text-decoration: none !important;
    border: none !important;
    
    font-size: 14px;
    color: black;
    font-family: 'Montserrat';
}
a:hover {
    color: blue;
}

.principal-dashboard {
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
}
.banner {
    width: 100%;
    height: 15%;
}
img.banner-logo {
    display: block;
    margin: auto;
    padding: 7px;

    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}
.menu-principal, .menu-sedes {
    width: 100%;
    height: 85%;
    position: absolute;
}
/* .sede-fila {
    background-color: aquamarine;
} */
.menu-proceso {
    background-color: lightcyan;
    margin: 0px;
    padding: 5px;
}
.num-alumnas, .num-cursos, .details-student{
    background-color: rgb(212, 214, 214);
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
.student-container {
    background-color: rgb(212, 214, 214);
    width: 98%;
}

/* article {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #fafafa;
    
    border-radius: 5px;
    border: 0.5px solid #666666;
    display: inline-block;
    box-sizing: border-box;
} */
p {
    font-size: 12px;
}